html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Shopee Phone
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css', integrity='sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==', crossorigin='anonymous')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css', integrity='sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==', crossorigin='anonymous')
        link(rel="stylesheet", href="/stylesheet/style.css")
    body
        header#header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='#') Mobile Shop
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.m-auto
                        li.nav-item.active
                            a.nav-link(href='#') Home 
                            span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='#') Products
                        li.nav-item
                        a.nav-link(href='#') New phones
                        li.nav-item
                        a.nav-link(href='#') Sale
                    form.form-inline.my-2.my-lg-0
                        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        block content
        block scripts